<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
  <head></head>
  <body>
    <!-- Delete Modal -->
    <div
      th:fragment="delete"
      class="modal fade"
      id="deleteModal"
      tabindex="-1"
      aria-labelledby="deleteModalLabel"
      aria-hidden="true"
    >
      <div class="modal-dialog">
        <div class="modal-content">
          <div class="modal-header">
            <h5 class="modal-title" id="deleteModalLabel">Borrar usuario</h5>
            <button
              type="button"
              class="btn-close"
              data-bs-dismiss="modal"
              aria-label="Close"
            ></button>
          </div>
          <div class="modal-body">
            <p>Atención! Usted borarrá al usuario:</p><em><span class="text-danger" id="itemContentDelete"></span></em>
            <form
              id="itemIdDelete"
              method="get"
            >
              <div class="modal-footer">
                <button
                  type="button"
                  class="btn btn-secondary"
                  data-bs-dismiss="modal"
                >
                  Cancelar
                </button>
                <button type="submit" class="btn btn-danger">Borrar</button>
              </div>
            </form>
          </div>
        </div>
      </div>
    </div>
  </body>
</html>