<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org" lang="en">

<head th:replace="fragments/head :: head(title='Home', css='/css/home.css')">
</head>

<body>
    <div class="container">
        <nav class="nav justify-content-end">
            <a class="nav-link" th:href="@{/logout}"><i class="fas fa-sign-out-alt"></i> Logout</a
        >
      </nav>

      <div class="panel-group">
        <div class="panel panel-primary">
          <div class="panel-heading">
            <img th:src="@{/img/unla25.jpg}" width="100" alt="Logo Unla 25"/>
            <div>
                <h1
                th:text="'Hola, ' + ${nombre} +' '+ ${apellido}+ '!'"
              ></h1>
              <p id="userHeader" th:text="'Usuario: @' + ${username} + ' - Rol: ' + ${userRole}"></p>
              </div>
              <a th:href="@{/register}" sec:authorize="hasRole('ROLE_ADMIN')" role="button" class="btn btn-outline-secondary">Registar usuario nuevo</a>
              <a th:href="@{/userLst}" sec:authorize="hasAnyRole('ROLE_ADMIN', 'ROLE_AUDITOR')" role="button" class="btn btn-outline-secondary">Ver lista de usuarios</a>
    </div>
    <br />
    </div>
    </div>
    </div>


    <footer th:replace="fragments/footer :: footer"></footer>

    <script type="text/javascript" th:src="@{/scripts/modals.js}"></script>
</body>

</html>